// bower:scss
// endbower
$serif: 'Noto Serif', serif;
$sans: 'Noto Sans', sans-serif;
* { 
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $serif;
  background: url(../images/blur_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.screen-container {
  background: -moz-linear-gradient(-45deg,  rgba(228,245,252,1) 0%, rgba(191,232,249,0.66) 47%, rgba(159,216,239,0.66) 55%, rgba(42,176,237,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(47%,rgba(191,232,249,0.66)), color-stop(55%,rgba(159,216,239,0.66)), color-stop(100%,rgba(42,176,237,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,0.66) 47%,rgba(159,216,239,0.66) 55%,rgba(42,176,237,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,0.66) 47%,rgba(159,216,239,0.66) 55%,rgba(42,176,237,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,0.66) 47%,rgba(159,216,239,0.66) 55%,rgba(42,176,237,1) 100%);
  background: linear-gradient(135deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,0.66) 47%,rgba(159,216,239,0.66) 55%,rgba(42,176,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );

}

h1 {
  font-family: $sans;
}

.marvel-device {
  margin: 0 auto;
  box-sizing: content-box;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  
  .screen {
    overflow: hidden;
  }
}

.table-center-parent {
  width: 100%;
  height: 100%;
  display: table;

  .table-center-child {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

#background-video {
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: auto;
  z-index: -1;
}

#capture-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

div.ng-scope {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}
