<nav class="primary-navigation">
  <ul class="primary-navigation-list">
    <li class="primary-navigation-item">
      <h1 class="title-parent">
        <a ui-sref="main">keystone</a>
      </h1>
    </li>
    <li class="primary-navigation-item">
      <div class="hamburger-parent">
        <button class="hamburger-btn"> &#9776;</button>
      </div>
    </li>
  </ul>
</nav>

<section class="main-header">
  <header class="masthead-parent">
    <h2 class="masthead-child">let's create a <span>key</span> for your <span>new object</span></h2>
  </header>
</section>

<section class="main-content">
  <div class="action-btn-parent">
    <button  class="action-btn-child">+</button>
  </div>
</section>

<footer class="main-footer">
  <div class="secondary-cta-parent">
    <h3 class="secondary-cta-child">
      <span>we help you inventory every</span>
      <span>object in your life</span>
    </h3>
  </div>
</footer>

<!-- firebase section -->
<!-- <input type="text" ng-model="data.text"/> 
     <h1>You said: {{ data.text }}</h1> -->
<!-- .firebase section -->

<video id="background-video" muted autoplay></video>
<img src="">
<canvas id="capture-frame" width="640" height="480" style="display:none;"></canvas>
<button id="capture-photo-btn">Capture Photo</button>